<mat-selection-list #blopPosts
                    style="background-color: lightgrey; margin-top: 50px">
  <mat-list-option *ngFor="let bp of allBlogPosts"
                   style="color: black;" [value]="bp._id">
    {{bp.title}}
  </mat-list-option>
</mat-selection-list>

<mat-card>Blog posts selected: {{blopPosts.selectedOptions.selected.length}}</mat-card>
<mat-card>
  <mat-card-actions>
    <button mat-button
            *ngIf="blopPosts.selectedOptions.selected.length > 0"
            (click)="deleteBlogPosts(blopPosts.selectedOptions.selected)">Delete</button>
  </mat-card-actions>
</mat-card>

<app-blogpost-create></app-blogpost-create>
