<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded"  *ngIf="(blogpost$ | async) as bp; else loading ">
  <main class="mdl-layout__content">
    <div class="demo-blog__posts mdl-grid">

      <div class="middle-card mdl-card mdl-cell mdl-cell--8-col">
        <div class="mdl-card__media mdl-color-text--grey-50" [ngStyle]="{'background-image': 'url(' + imagePath + bp.image + ')'}">
          <h3><a [routerLink]="['/blog']">{{bp.title}}</a></h3>
        </div>
        <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
          <div>
            <h5>{{bp.subtitle}}</h5>
          </div>
        </div>

        <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
          <div>
            <strong>{{bp.content}}</strong>
            <!--<span>{{bp.createdOn}}</span>-->
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>

<ng-template #loading>
  Loading...
</ng-template>
