<!--Header-->
<mat-toolbar style="position: fixed;z-index: 90" ><a [routerLink]="['/blog']">Developer's blog</a></mat-toolbar>


<!--Container-->
<div class="container" style="padding-top: 50px">
  <router-outlet></router-outlet>
</div>
