<mat-card style="margin-top: 50px">
  <form [formGroup]="creationForm"
        #formDirective="ngForm"
        (submit)="createBlogPost(formDirective)">
    <div class="example-container row col-12">
      <mat-form-field class="col-md-6">
        <input matInput
               placeholder="Title"
               required
               formControlName="title">
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput
               placeholder="Subtitle"
               required
               formControlName="subtitle">
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <textarea matInput
                  placeholder="content"
                  required
                  formControlName="content"></textarea>
      </mat-form-field>
      <div class="col-md-12">
        <input type="file"
               name="image"
               id="image"
               formControlName="image"
               accept=".png, .jpg, .jpeg"
               #image>
      </div>
      <div class="col-md-12" style="margin-top: 30px">
        <button mat-button type="submit">create blog post</button>
      </div>
    </div>
  </form>
</mat-card>
