<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded" >
  <main class="mdl-layout__content">
    <div class="demo-blog__posts mdl-grid">

      <div class="middle-card mdl-card mdl-cell mdl-cell--8-col">
        <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
          <div>
            <h5>ERROR: Page not found</h5>
          </div>
        </div>

        <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
          <div>
            <strong></strong>
            <!--<span>{{bp.createdOn}}</span>-->
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
